eHealthApp/AlarmPublisher/Service References/PublisherServiceReference/HealthCareWCFServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HealthCareWCFServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HealthCareWCFServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AlarmPublisher">
    <xs:sequence>
      <xs:element minOccurs="0" name="Condition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmPublisher" nillable="true" type="tns:AlarmPublisher" />
  <xs:complexType name="ArrayOfAlarmPublisher">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmPublisher" nillable="true" type="tns:AlarmPublisher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmPublisher" nillable="true" type="tns:ArrayOfAlarmPublisher" />
</xs:schema>