eHealthApp/AlarmPublisher/Service References/PublisherServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlarmPublisherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HealthCareWCFServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlarmPublisherService_createAlarmPublisher_InputMessage">
    <wsdl:part name="parameters" element="tns:createAlarmPublisher" />
  </wsdl:message>
  <wsdl:message name="IAlarmPublisherService_createAlarmPublisher_OutputMessage">
    <wsdl:part name="parameters" element="tns:createAlarmPublisherResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmPublisherService_updateAlarmPublisher_InputMessage">
    <wsdl:part name="parameters" element="tns:updateAlarmPublisher" />
  </wsdl:message>
  <wsdl:message name="IAlarmPublisherService_updateAlarmPublisher_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateAlarmPublisherResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmPublisherService_getAlarmPublisher_InputMessage">
    <wsdl:part name="parameters" element="tns:getAlarmPublisher" />
  </wsdl:message>
  <wsdl:message name="IAlarmPublisherService_getAlarmPublisher_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAlarmPublisherResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmPublisherService_getAllAlarmPublishers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllAlarmPublishers" />
  </wsdl:message>
  <wsdl:message name="IAlarmPublisherService_getAllAlarmPublishers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllAlarmPublishersResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlarmPublisherService">
    <wsdl:operation name="createAlarmPublisher">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmPublisherService/createAlarmPublisher" message="tns:IAlarmPublisherService_createAlarmPublisher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmPublisherService/createAlarmPublisherResponse" message="tns:IAlarmPublisherService_createAlarmPublisher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateAlarmPublisher">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmPublisherService/updateAlarmPublisher" message="tns:IAlarmPublisherService_updateAlarmPublisher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmPublisherService/updateAlarmPublisherResponse" message="tns:IAlarmPublisherService_updateAlarmPublisher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAlarmPublisher">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmPublisherService/getAlarmPublisher" message="tns:IAlarmPublisherService_getAlarmPublisher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmPublisherService/getAlarmPublisherResponse" message="tns:IAlarmPublisherService_getAlarmPublisher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllAlarmPublishers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmPublisherService/getAllAlarmPublishers" message="tns:IAlarmPublisherService_getAllAlarmPublishers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmPublisherService/getAllAlarmPublishersResponse" message="tns:IAlarmPublisherService_getAllAlarmPublishers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlarmPublisherService" type="tns:IAlarmPublisherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createAlarmPublisher">
      <soap:operation soapAction="http://tempuri.org/IAlarmPublisherService/createAlarmPublisher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAlarmPublisher">
      <soap:operation soapAction="http://tempuri.org/IAlarmPublisherService/updateAlarmPublisher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlarmPublisher">
      <soap:operation soapAction="http://tempuri.org/IAlarmPublisherService/getAlarmPublisher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAlarmPublishers">
      <soap:operation soapAction="http://tempuri.org/IAlarmPublisherService/getAllAlarmPublishers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlarmPublisherService">
    <wsdl:port name="BasicHttpBinding_IAlarmPublisherService" binding="tns:BasicHttpBinding_IAlarmPublisherService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HealthCareWCFServices/AlarmPublisherService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>