eHealthApp/HealthWebUI/Service References/TaskServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HealthCareWCFServices" />
  <xs:element name="createTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HealthCareWCFServices" minOccurs="0" name="getTaskResult" nillable="true" type="q1:Task" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTasks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HealthCareWCFServices" minOccurs="0" name="getTasksResult" nillable="true" type="q2:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="taskStatusFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="taskStatusFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HealthCareWCFServices" minOccurs="0" name="taskStatusFilterResult" nillable="true" type="q3:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>