eHealthApp/AlarmPublisher/Service References/AlarmServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlarmService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HealthCareWCFServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlarmService_createAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:createAlarm" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_createAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:createAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_updateAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:updateAlarm" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_updateAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_getAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:getAlarm" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_getAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_getAlarms_InputMessage">
    <wsdl:part name="parameters" element="tns:getAlarms" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_getAlarms_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAlarmsResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_deleteAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteAlarm" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_deleteAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_getMaxId_InputMessage">
    <wsdl:part name="parameters" element="tns:getMaxId" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_getMaxId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMaxIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_getAlarmById_InputMessage">
    <wsdl:part name="parameters" element="tns:getAlarmById" />
  </wsdl:message>
  <wsdl:message name="IAlarmService_getAlarmById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAlarmByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlarmService">
    <wsdl:operation name="createAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/createAlarm" message="tns:IAlarmService_createAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/createAlarmResponse" message="tns:IAlarmService_createAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/updateAlarm" message="tns:IAlarmService_updateAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/updateAlarmResponse" message="tns:IAlarmService_updateAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/getAlarm" message="tns:IAlarmService_getAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/getAlarmResponse" message="tns:IAlarmService_getAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAlarms">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/getAlarms" message="tns:IAlarmService_getAlarms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/getAlarmsResponse" message="tns:IAlarmService_getAlarms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/deleteAlarm" message="tns:IAlarmService_deleteAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/deleteAlarmResponse" message="tns:IAlarmService_deleteAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMaxId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/getMaxId" message="tns:IAlarmService_getMaxId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/getMaxIdResponse" message="tns:IAlarmService_getMaxId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAlarmById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarmService/getAlarmById" message="tns:IAlarmService_getAlarmById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarmService/getAlarmByIdResponse" message="tns:IAlarmService_getAlarmById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlarmService" type="tns:IAlarmService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createAlarm">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/createAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAlarm">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/updateAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlarm">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/getAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlarms">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/getAlarms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAlarm">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/deleteAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaxId">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/getMaxId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlarmById">
      <soap:operation soapAction="http://tempuri.org/IAlarmService/getAlarmById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlarmService">
    <wsdl:port name="BasicHttpBinding_IAlarmService" binding="tns:BasicHttpBinding_IAlarmService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HealthCareWCFServices/AlarmService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>