eHealthApp/HealthWebUI/Service References/SubTaskServiceReference/HealthCareWCFServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HealthCareWCFServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HealthCareWCFServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SubTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubTask" nillable="true" type="tns:SubTask" />
  <xs:complexType name="ArrayOfSubTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubTask" nillable="true" type="tns:SubTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubTask" nillable="true" type="tns:ArrayOfSubTask" />
</xs:schema>