eHealthApp/HealthWebUI/Service References/SubTaskServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SubTaskService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HealthCareWCFServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISubTaskService_createSubtask_InputMessage">
    <wsdl:part name="parameters" element="tns:createSubtask" />
  </wsdl:message>
  <wsdl:message name="ISubTaskService_createSubtask_OutputMessage">
    <wsdl:part name="parameters" element="tns:createSubtaskResponse" />
  </wsdl:message>
  <wsdl:message name="ISubTaskService_updateSubtask_InputMessage">
    <wsdl:part name="parameters" element="tns:updateSubtask" />
  </wsdl:message>
  <wsdl:message name="ISubTaskService_updateSubtask_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateSubtaskResponse" />
  </wsdl:message>
  <wsdl:message name="ISubTaskService_getTask_InputMessage">
    <wsdl:part name="parameters" element="tns:getTask" />
  </wsdl:message>
  <wsdl:message name="ISubTaskService_getTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ISubTaskService_getSubTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:getSubTasks" />
  </wsdl:message>
  <wsdl:message name="ISubTaskService_getSubTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSubTasksResponse" />
  </wsdl:message>
  <wsdl:portType name="ISubTaskService">
    <wsdl:operation name="createSubtask">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubTaskService/createSubtask" message="tns:ISubTaskService_createSubtask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubTaskService/createSubtaskResponse" message="tns:ISubTaskService_createSubtask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateSubtask">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubTaskService/updateSubtask" message="tns:ISubTaskService_updateSubtask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubTaskService/updateSubtaskResponse" message="tns:ISubTaskService_updateSubtask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubTaskService/getTask" message="tns:ISubTaskService_getTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubTaskService/getTaskResponse" message="tns:ISubTaskService_getTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSubTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubTaskService/getSubTasks" message="tns:ISubTaskService_getSubTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubTaskService/getSubTasksResponse" message="tns:ISubTaskService_getSubTasks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISubTaskService" type="tns:ISubTaskService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createSubtask">
      <soap:operation soapAction="http://tempuri.org/ISubTaskService/createSubtask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSubtask">
      <soap:operation soapAction="http://tempuri.org/ISubTaskService/updateSubtask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTask">
      <soap:operation soapAction="http://tempuri.org/ISubTaskService/getTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubTasks">
      <soap:operation soapAction="http://tempuri.org/ISubTaskService/getSubTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubTaskService">
    <wsdl:port name="BasicHttpBinding_ISubTaskService" binding="tns:BasicHttpBinding_ISubTaskService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/HealthCareWCFServices/SubTaskService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>